# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Production
.env
.env.local
.env.production.local
.env.development.local
.env.test.local
.env.example

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# SudoSquad
.sudosquad/
security.js

.vercel
